.reveal pre code {
  max-height: 800px;
  max-width: 3000px; 
}

html.dimbg .slide-background {
  opacity: 0.05 !important;
}

html.lessdimbg .slide-background {
  opacity: 0.08 !important;
}

#crossenv-table td {
  font-size: 27px;
}

#package-json-info li{
  font-size: 27px;
}